{% extends '_layout.html' %}
{% block contenido %}
<br>
<br>
<div class="card">
    <div class="carda-body">
        <h2 class="p-4">Nuevo Cliente</h2>
        <div class="p-4 formu">
            <form action="" method="post">
                {% load widget_tweaks %}
                {%csrf_token%}
                <label class="control-label">Tipo de Solicitud</label>
                {{form.tipo_solicitud| attr:"class:form-control"}}
                <label class="control-label">Contrato de Compraventa</label>
                {{form.contrato| attr:"class:form-control"}}
                <label class="control-label">Fecha de Solicitud</label>
                {{form.fecha_Solicitud| attr:"class:form-control"|attr:"type:date"}}
                <label class="control-label">Fecha de la Inspeccion</label>
                {{form.fecha_Inspeccion| attr:"class:form-control"|attr:"type:date"}}
                <label class="control-label">Cliente</label>
                {{form.id_cliente| attr:"class:form-control"}}
                <label class="control-label">Vendedor</label>
                {{form.id_vendedor| attr:"class:form-control"}}
                <label class="control-label">Comprador</label>
                {{form.id_comprador| attr:"class:form-control"}}
                <label class="control-label">Receptor</label>
                {{form.id_receptor| attr:"class:form-control"}}
                <script>
                function toggle(o) {
                var buque=document.querySelector(".buque");
                var contenedor=document.querySelector(".contenedor");
                if (o.value=="contenedor"){
                contenedor.style.display="block";
                buque.style.display="none";}
                else{
                contenedor.style.display="none";
                buque.style.display="block";}
                }
                </script>
                    <label>Medio de Carga</label>
                {{form.medio| attr:"class:form-select"| attr:"onclick:toggle(this)"}}
                <div style="display: none" class="contenedor">
                    <label class="control-label">Contenedor</label>
                    {{form.id_contenedor| attr:"class:form-control"}}
                </div>
                <div style="display: block" class="buque">
                    <label class="control-label">Buque</label>
                    {{form.id_buque| attr:"class:form-control"}}
                </div>

                <label class="control-label">Servicio</label>
                {{form.servicio| attr:"class:list-group"}}

                <br>
                <br>

                <button type="submit" class="btn btn-danger float">Crear Cliente</button>
                <button type="reset" class="btn btn-secondary float">Cancelar</button>
        </form></div>
</div>
</div>
<script type="text/javascript">
    function showContent() {
        elementcontenedor = document.getElementById("contentcontenedor");
        elementbuque = document.getElementById("contentbuque");
        contenedor = document.getElementById("contenedor");
        buque = document.getElementById("buque");
        if (contenedor.checked) {
            elementcontenedor.style.display='block';
        }
        else if(buque.checked){
            elementbuque.style.display='block';
        }
    }
</script>

{% endblock %}