{% extends '_layout.html' %}
{% block contenido %}
<br>
<br>
<div class="card">
    <div class="carda-body">
        <h2 class="p-4">Listado de Clientes</h2>
        <div class="p-4">
            <table class="table table-striped">
                <thead>
                <tr>
                <th scope="col">Numero de Contrato</th>
                <th scope="col">Nombre</th>
                <th scope="col">Fecha de Firma</th>
                <th scope="col">Periodo</th>
                <th scope="col">Monto</th>
                <th scope="col">Tipo de Empresa</th>
            </tr>
            </thead>
            <tbody>
                {%for c in clientes%}
                <tr>
                <td>{{c.numero_contrato}}</td>
                <td>{{c.id_empresa.nombre}}</td>
                <td>{{c.fecha_firma}}</td>
                <td>{{c.periodo}}</td>
                <td>{{c.monto}}</td>
                <td>{{c.tipo_empresa}}</td>
            </tr>
                {%endfor%}
            </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}