{% extends '_layout.html' %}
{% block contenido %}
<br>
<br>
<div class="card">
    <div class="carda-body">
        <h2 class="p-4">Nuevo Cliente</h2>
        <div class="p-4 formu">
        <form action="" method="post">
            {% load widget_tweaks %}
            {%csrf_token%}
            <label class="control-label">Numero de Contrato</label>
            {{form.numero_contrato| attr:"class:form-control"}}
            <label class="control-label">Fecha de Firma</label>
            {{form.fecha_firma| attr:"class:form-control"|attr:"type:date"}}
            <label class="control-label">Periodo</label>
            {{form.periodo| attr:"class:form-control"|attr:"type:number"}}
            <label class="control-label">Monto</label>
            {{form.monto| attr:"class:form-control"|attr:"type:number"}}
            <label class="control-label">Tipo de Empresa</label>
            {{form.tipo_empresa| attr:"class:form-control"}}
            <label class="control-label">Empresa</label>
            {{form.id_empresa| attr:"class:form-control"}}

        <br>
        <br>
        
        <button type="submit" class="btn btn-danger float">Crear Cliente</button>
        <button type="reset" class="btn btn-secondary float">Cancelar</button>
        </div>
    </form></div>
    </div>
</div>   

{% endblock %}